p, h1, h2, h3, h4, h5, li, a, label, th, td {
  font-family: Arial;
  color: #37393a;
}

body {
  background-color: #ffe6e8;
}

hr {
  border: 1px solid #37393a;
  background-color: #37393a;
}

button, input[type=submit] {
  background-color: #e78f8e; 
  border: none;
  color: #37393a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover, input[type=submit]:hover {
  background-color: #f48498;
}

table, th, td {
    padding: 2px;
    border: 2px solid #080705;
    border-collapse: collapse;
}

#buttons {
  position: absolute;
  bottom: 0.2%;
  left: 0.2%;
}

#menu {
  border: 1px dashed #37393a;
  position: absolute;
  top: 0%;
  right: 0%;
  background: #ffe6e8;
}

@font-face {
  font-family: 'MathJax Default';
  src: url('MathJax_Math-Italic.woff') format('woff');
}

#output {
  font-size: 18px;
  font-family: 'MathJax Default';
}

#left {
  float: left;
}

#lCanvas {
  float: right;
}

#right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.border {
  border: 1px dashed #37393a;
  display: inline-block;
}
